* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background-color: rgb(253, 249, 255) !important;
}

.postBox {
  background-color: white;
  height: fit-content;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
}
.postTitle {
  font-size: 1.35rem;
  font-weight: bold;
}
.saveBtn {
  background-color: rgb(247, 240, 203) !important;
  outline: none;
  border: none !important;
}
.userPic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 100%;
}
.loginPage {
  height: 100vh;
  background: white;
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}
.userName {
  font-weight: bold;
  font-size: 1.3rem;
}
.profileBox {
  background-color: white;
  width: 25%;
}
.selectedBtn {
  background-color: rgb(43, 43, 43) !important;
}
.savePost button {
  display: none;
}
.whiteBtn {
  background-color: white !important;
  color: black !important;
  border: none !important;
}
.blackBtn {
  background-color: black !important;
  color: white !important;
  border: none !important;
}

@media screen and (max-width: 600px) {
  .profileBox {
    width: 100% !important;
  }
}
